body {
	font-family: 'Roboto', sans-serif;
}

h2 {
	margin: 60px 0 80px 0;
	text-align: center;
	font-size: 4rem;
}

.task {
	margin: 0 auto;
	width: 40%;
}

ul li p {
    display: none;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0 0 80px;
    padding: 0;
}

ul li {
	list-style: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #dff3ff;
    font-size: 1.5em;
    transition: 0.2s;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #ffffff;
}

ul li:hover {
    background: #f2f8fd;
}

ul li.checked {
    background: #191970;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.check {
    position: absolute;
    right: 45px;
    top: 0;
    padding: 12px 16px 12px 16px; 
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover , .check:hover {
    background-color: #f44336;
    color: white;
}

.todo {
    background-color: #191970;
    padding: 30px 40px;
    color: white;
    text-align: center;
    margin: 0 0 20px;
}

.todo:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
}

#addBtn, #toggle {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

#addBtn:hover, #toggle:hover {
    background-color: #bbb;
}

.off {
    display: none;
}

.task-2 {
    width: 100%;
    height: 700px;
}

.task-2 svg {
    position: absolute;
    left: 43%;
    z-index: 1000;
    cursor: grab;
}

.task-2 svg:active {
    cursor: grabbing;
}

#toggle {
    display: inline-block;
    margin: 0 0 25px 36%;
}

.hidden {
    display: none;
}

.active {
    background-color: rgb(240,128,128) !important;
}